@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --title: #d39f69;
}

body {
  font-family: 'Lora', serif;
  overflow-x: hidden;
}

.hero-bg {
  background-image: linear-gradient(to bottom, #f8f8f8, #10100f44),
    url('/home.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  height: 100vh;
}

ul li a {
  font-size: 20px;
}

ul li a:hover {
  text-decoration: underline;
}

header div {
  font-size: 20px;
}

section h2 {
  font-size: 20px;
}

.omsa-pic {
  background-image: linear-gradient(to top, #f5f5f268, #f8f8f8c8, #ffffff),
    url('/omsa.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}

.spoved-pic {
  background-image: linear-gradient(to top, #f5f5f200, #f8f8f800, #ffffff00),
    url('/spoved.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}

/* react-scroll */

.top-to-btm {
  position: relative;
}

.icon-position {
  position: fixed;
  bottom: 80px;
  right: 25px;
  z-index: 20;
}
.icon-style {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #000;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}
.icon-style:hover {
  animation: none;
  background: #2b2a64;
  color: #fff;
  /* border: 2px solid #d57703; */
}

/* MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIESMEDIA QUERIES MEDIA QUERIES MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIESMEDIA QUERIES MEDIA QUERIES MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIESMEDIA QUERIES MEDIA QUERIES MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES  MEDIA QUERIES */

@media (min-width: 100px) and (max-width: 990px) {
  section div p {
    font-size: 20px;
  }

  .spoved-pic {
    width: auto;
  }
}
